@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 p-0 overflow-hidden bg-[#030712] text-[#f3f4f6];
    font-family: 'Inter', sans-serif;
  }
}

canvas {
  outline: none;
}
